---
import { actions } from "astro:actions";
import Layout from "@layouts/Layout.astro";
import Heading from "@components/heading/Heading.astro";
import Text from "@components/text/Text.astro";
import GridPost from "@components/post/gridpost/GridPost.astro";
import Search from "@components/search/Search.astro";
import Pagination from "@components/pagination/Pagination.astro";

const searchParams = Astro.url.searchParams;
const pageParam = Number(searchParams.get("page") ?? 1);

const { data } = await Astro.callAction(actions.post.getPostByPage, {
  page: pageParam,
});

if (!data) {
  return Astro.redirect("/500");
}

const { totalPages, posts } = data;
---

<Layout title="Blog">
  <section class="py-20">
    <div class="space-y-5 text-center">
      <Heading component="h1" fontSize="large">Todos los post</Heading>
      <Text>Bienvenido al blog de Devtalles community</Text>
      <hr class="border-accent mx-auto w-20 border-2" />
    </div>

    <div class="mt-10">
      <Search />
    </div>

    <GridPost posts={posts} />
    <Pagination totalPages={totalPages} />
  </section>
</Layout>
