---
import Layout from "@layouts/Layout.astro";
import Heading from "@components/heading/Heading.astro";
import Text from "@components/text/Text.astro";
import Link from "@components/link/Link.astro";
import { Image } from "astro:assets";

const { isAuthed, user } = Astro.locals;

if (!isAuthed) return Astro.redirect("/auth/sign-in");
---

<Layout title="Perfil">
  <section class="md:h-screen">
    <div class="mt-20 mb-20">
      <Heading className="">Mi cuenta</Heading>
    </div>

    <article class="mt-8 flex gap-4">
      <div class="bg-secondary flex h-96 w-96 flex-col rounded-md p-5">
        <div class="flex gap-x-5">
          <Image
            src={user!.image ?? "/avatars/avatar-default.jpg"}
            alt={user!.name}
            width={40}
            height={40}
            class="rounded-full"
          />

          <div class="flex flex-col">
            <Text>{user?.name}</Text>
            <Text>{user?.email}</Text>
          </div>
        </div>

        <div class="mt-5">
          {
            user!.role === "admin" && (
              <Link href="/dashboard/post">Dashboard</Link>
            )
          }
        </div>

        <button id="btn-logout"> <Text> Cerrar sesion </Text> </button>
      </div>

      <div class="bg-complementary w-full rounded-md">
        <Text>Hola Mundo</Text>
      </div>
    </article>
  </section>
</Layout>

<script>
  import { $ } from "@lib/dom-selector";
  import { signOut } from "@lib/auth/auth-client";

  const logoutButton = $("#btn-logout");

  if (logoutButton) {
    logoutButton.onclick = () => {
      signOut({
        fetchOptions: {
          onSuccess: () => {
            window.location.href = "/";
          },
        },
      });
    };
  }
</script>
