@import "tailwindcss";

@theme {
  --color-primary: #1e0c3fff;
  --color-secondary: #59368fff;
  --color-neutral: #e8d2ffff;
  --color-complementary: #130c25ff;
  --color-accent: #2c1d57;

  /* Font variables from astro experimentals fonts .astro.config.mjs */
  --font-primary: var(--font-space-mono);
  --font-secondary: var(--font-raleway);
}
