---
import PostCard from "../postcard/PostCard.astro";

// TODO: Fetch posts from DB
---

<section class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3">
  <PostCard
    imagePost="/images/code.jpg"
    title="Post Title"
    description="Post Description"
    date="Post Date"
  />
  <PostCard
    imagePost="/images/code.jpg"
    title="Post Title"
    description="Post Description"
    date="Post Date"
  />
  <PostCard
    imagePost="/images/code.jpg"
    title="Post Title"
    description="Post Description"
    date="Post Date"
  />
</section>
