---
import Heading from "@components/heading/Heading.astro";
import Text from "@components/text/Text.astro";
---

<section>
  <div>
    <Heading component="h2">Categorías</Heading>
    <Text>Explora las categorías de nuestro blog</Text>
  </div>
</section>
