---

---

<aside>
  <div class='w-1/6 md:w-1/12 text-white'>
    <!-- Side bar -->
    <div
      class='min-h-screen bg-rebecca-purple flex flex-col items-center py-10'
    >
      <div class='border-2 border-white rounded-sm p-2 hover:bg-periwinkle'>
        Panel
      </div>
      <div>Metricas</div>
    </div>
  </div>
</aside>
