---
import DashboardLayout from '@layouts/DashboardLayout.astro'
import Navigation from '../Navigation.astro'
---

<DashboardLayout title='posts'>
  <Navigation />
  <div class='p-8'>
    <h1>Posts</h1>
  </div>
</DashboardLayout>
