---
import DashboardLayout from '@layouts/DashboardLayout.astro'
import Navigation from '../Navigation.astro'
import PostForm  from '@components/dashboard/post/PostForm'
---

<DashboardLayout title='posts'>
  <Navigation />
  <div class='p-8'>
    <PostForm client:load/>
  </div>
</DashboardLayout>
