---
import Heart from "@icons/heart.svg";
import Text from "@components/text/Text.astro"; 
import { actions } from "astro:actions";


const { post } = Astro.props;
const { user } = Astro.locals;

const { data } = await Astro.callAction(actions.likes.getLikesByPostId, {
  postId: post.id
});

const totalLikes =  data?.count ?? 0;
---

<div class="mt-10 flex justify-between">
  <div>
    <Text>Me gustas</Text>
    <div class="mt-3 flex gap-x-2 text-white">
      <Heart class="text-white" />
      {totalLikes}
    </div>
  </div>

  <Text
    id="like-button"
    className="border-secondary flex cursor-pointer gap-2 rounded-md border p-5"
    data-user-id={user?.id}
    data-post-id={post.id}
  >
    <Heart class="text-white" />
    Me gusta
  </Text>
</div>

<script>
  import { $ } from "@lib/dom-selector";
  import { actions } from "astro:actions";

  const likeButton = $("#like-button");
  const userId = likeButton?.dataset.userId;
  const postId = likeButton!.dataset.postId;

  likeButton?.addEventListener("click", async () => {
    if (!userId) {
      alert("Debes iniciar sesión para dar 'Me gusta'.");
      return;
    }

    console.log("Dando 'Me gusta' al post con ID:", postId, userId);

    const { error, data } = await actions.likes.createUpdateLikeByPost({
      postId,
      userId,
    });

    console.log(error, data);
  });
</script>
