---
import Heart from "@icons/heart.svg";
import Text from "@components/text/Text.astro";

const { post } = Astro.props;
---

<div class="mt-10 flex justify-between">
  <div>
    <Text>Me gustas</Text>
    <div class="mt-3 flex gap-x-2 text-white">
      <Heart class="text-white" />
      {post.likes ?? 0}
    </div>
  </div>

  <Text
    id="like-button"
    className="border-secondary flex cursor-pointer gap-2 rounded-md border p-5"
  >
    <Heart class="text-white" />
    Me gusta
  </Text>
</div>

<script>
  import { $ } from "@lib/dom-selector";
  import { actions } from "astro:actions";

  const likeButton = $("#like-button");

  likeButton?.addEventListener("click", async () => {});
</script>
