---
import Head from "@components/seo/Head.astro";
import "@styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <Head title={title} description={description} />
  <body class="scroll-smooth">
    <!-- Todo: Agregar header -->
    <main class="mb-20">
      <slot />
    </main>
    <!-- Todo: Agregar footer -->
  </body>
</html>
